image = "/capstor/scratch/cscs/sebkelle/.uenv-images/ce-images/rocm711.sqsh" 

mounts = [
    "/capstor",
    "/iopsstor"
] 

workdir = "/capstor/scratch/cscs/sebkelle" 

[annotations]
com.hooks.cxi.enabled = "false"
#com.hooks.aws_ofi_nccl.enabled = "true" 
#com.hooks.aws_ofi_nccl.variant = "rocm6"

[env]
NCCL_DEBUG = "INFO"
NCCL_CROSS_NIC = '1'
NCCL_NET = "AWS Libfabric"
NCCL_NET_GDR_LEVEL = "PHB"
NCCL_PROTO = "^LL128"
FI_CXI_DEFAULT_CQ_SIZE = "131072"
FI_CXI_DEFAULT_TX_SIZE = "32768"
FI_CXI_DISABLE_HOST_REGISTER = "1"
#FI_CXI_RX_MATCH_MODE = "software"
FI_MR_CACHE_MONITOR = "userfaultfd"
# The following have been found to help avoid hangs, but are not yet
# documented elsewhere
FI_CXI_RDZV_EAGER_SIZE = "0"
FI_CXI_RDZV_GET_MIN = "0"
FI_CXI_RDZV_THRESHOLD = "0"
HSA_NO_SCRATCH_RECLAIM = "1"
#LD_LIBRARY_PATH = "/opt/aotriton/lib:/opt/mpich/lib:/opt/hwloc/lib:/opt/libfabric/lib:/opt/shs-libcxi/lib::/opt/rocm-6.4.2/lib:/opt/cxi-plugin/lib"
